doctype html
html
  head
    title Display Image
  body
    h1 Uploaded Image
    img(src= imagePath alt="Uploaded Image" style="max-width: 100%; height: auto;")
    br
    a(href="/") Upload Another Image
